
<div class="texts-and-fields">
  <h2 class="log-in">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email, 'Email', :class => 'email-field'  %><br />
      <div class="input-form">
        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
      </div>
    </div>

    <div>
      <%= f.label :password, 'Password', :class => 'password-field' %><br />
      <div class="input-form">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

  <div class="sign-up-acc">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, :class => "check-box"%>
      <% end -%>

      <div class="actions">
        <%= f.submit "Submit", :class => 'submit_button' %>
      </div>
    <% end %>
    <div class="devise-shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
